<body>
<% if current_member %>
<div class="container">
  <h1>Ласкаво просимо до клубу акваріумістів</h1>
  <p>На нашому сайті ви знайдете різноманітну інформацію про акваріумістику та пов'язані з нею аспекти. У нас є список учасників, де ви можете дізнатися більше про інших учасників спільноти. Крім того, ми надаємо доступ до клубної документації, яка містить важливу інформацію та поради для акваріумістів усіх рівнів досвіду. Наша сторінка також містить інформацію про організації-партнери, які можуть надавати корисні послуги або продукти для вашого акваріуму. </p>
  <p>Крім цього, ми регулярно оновлюємо розклад заходів, де ви зможете знайти цікаві заходи та події, пов'язані з акваріумістикою. Щоб дізнатися більше про рослини та риби, які ви можете тримати у своєму акваріумі, ви зможете знайти інформацію про водні рослини та риби. </p>
  <p>Наш сайт також пропонує можливість перегляду та придбання різноманітних товарів для акваріумів, а також можливість робити замовлення. Незалежно від вашого рівня досвіду або інтересів у світі акваріумістики, ми надаємо корисну та цікаву інформацію для всіх наших відвідувачів. </p>
  <%= button_to "Logout", destroy_member_session_path, class: "btn btn-danger mt-3", method: :delete %>
</div>
<% else %>
<div class="d-flex justify-content-center">
  <%= link_to "Увійти", new_member_session_path, class: "btn btn-primary btn-lg mr-2 me-3" %>
  <%= link_to "Зареєструватися", new_member_registration_path, class: "btn btn-dark btn-lg mr-2" %>
</div>
<% end %>

</body>

